.todo-item {
    width: 500px;
    border: 1px solid black;
    text-align: left;
    position: relative;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    }
         
.finish {
    text-decoration: line-through;
}

.button {
    background-color: #fff;
    border: none;
    font-size: 20px;
}
